# This is Git's per-user configuration file.
[core]
  pager = delta
  editor = nvim
[color]
  ui = true
[color "diff"]
  
[pack]
  windowMemory = 100m
  packSizeLimit = 100m
  threads = 1
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[http]
  sslVerify = true
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
  dark = true
  #light = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default

